body {
  opacity: 0.99;
  background: #937FE1; }

div.main {
  opacity: 0.99;
  background: #937FE1;
  padding-top: 1rem; }

h2 {
  font-family: font91361;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  letter-spacing: 0.05px;
  line-height: 24px;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5); }
  @media screen and (min-width: 768px) {
    h2 {
      margin: 41px 0 19px 0;
      font-size: 24px;
      letter-spacing: 0.35px; } }

.box {
  background: #FFFFFF;
  box-shadow: 0px 2px 0px 0px #715EBB;
  border-radius: 4px;
  margin-bottom: 15px; }
  @media screen and (min-width: 768px) {
    .box {
      min-height: 203px;
      border-radius: 5.19px; } }
  .box .legend {
    text-align: center;
    height: 106px;
    line-height: 35px;
    display: inline-block; }
    @media screen and (min-width: 768px) {
      .box .legend {
        margin: 2rem 0;
        padding: 0; } }
    @media screen and (min-width: 996px) {
      .box .legend {
        padding: 0 30px; } }
    .box .legend > p {
      font-family: font91361;
      font-size: 16.33px;
      font-weight: bold;
      color: #000000;
      letter-spacing: 0.48px;
      line-height: 19px;
      min-height: 38px;
      margin: 0;
      margin-top: 15px;
      display: inline-block; }
      @media screen and (min-width: 768px) {
        .box .legend > p {
          font-size: 24px;
          letter-spacing: 0.65px;
          line-height: 29px;
          min-height: 86px; } }
    .box .legend button p {
      font-family: font91361;
      font-size: 14.41px;
      font-weight: bold;
      color: #FFFFFF;
      letter-spacing: 0.17px;
      line-height: 15px; }
      @media screen and (min-width: 768px) {
        .box .legend button p {
          font-size: 19px;
          letter-spacing: 0.21px;
          line-height: 19.5px; } }

@media screen and (min-width: 768px) {
  .box-1, .box-3, .box-5 {
    margin-right: 34px; } }

@media screen and (max-width: 768px) {
  .box-3 button {
    bottom: 9px; } }

.box-6 {
  visibility: hidden; }

button, button.pink, button.green {
  border-radius: 2px;
  border: none;
  text-transform: uppercase;
  height: 28px;
  cursor: pointer;
  position: relative; }
  @media screen and (min-width: 768px) {
    button, button.pink, button.green {
      height: 38px; } }

button.pink {
  background-image: linear-gradient(-180deg, #FF6BCA 0%, #FF78CF 42%, #FF00A8 100%);
  box-shadow: 0px 1px 1px 1px #AC0C75;
  width: 91px; }
  @media screen and (min-width: 768px) {
    button.pink {
      width: 188px; } }
  button.pink p {
    margin-top: 8px;
    margin-bottom: 5px; }

button.green {
  background-image: linear-gradient(-180deg, #86BA2B 0%, #2A740D 100%);
  background-color: #1C4F06;
  box-shadow: 0px 1px 1px 1px #1C4F06;
  width: 145px; }
  @media screen and (min-width: 768px) {
    button.green {
      width: 188px; } }
  button.green p {
    margin-top: 7px;
    margin-bottom: 6px; }

.status, .offers .box .status, .offers .box.opacity .status {
  background: #E9F2DF;
  border-radius: 0px 4px 4px 0px;
  text-align: center;
  padding-left: 10px; }
  @media screen and (min-width: 768px) {
    .status, .offers .box .status, .offers .box.opacity .status {
      border-radius: 0px 5.19px 5.19px 0px; } }
  .status .tick, .offers .box .status .tick {
    fill: #7ED321;
    width: 32px;
    margin-top: 42px; }
    @media screen and (min-width: 768px) {
      .status .tick, .offers .box .status .tick {
        margin-top: 85px;
        height: 34px;
        width: 42px; } }
  .status .wait, .offers .box .status .wait {
    width: 23px;
    margin-top: 42px;
    border-radius: 50px; }
    @media screen and (min-width: 768px) {
      .status .wait, .offers .box .status .wait {
        width: 31px;
        margin-top: 86px; } }
  .status .lock, .offers .box .status .lock {
    width: 23px;
    height: 36px;
    margin-top: 60px; }
    @media screen and (min-width: 768px) {
      .status .lock, .offers .box .status .lock {
        margin-top: 81px; } }

.offers .box .status, .offers .box.opacity .status {
  background: #FFECD6;
  border-radius: 0px 4px 4px 0px; }
  .offers .box .status .tick {
    border-radius: 50px; }

.offers .box.opacity .status {
  background: #7A64CC;
  min-height: 113px;
  height: 150px; }
  @media screen and (min-width: 768px) {
    .offers .box.opacity .status {
      height: auto; } }

.offers .box.opacity {
  height: 150px; }
  @media screen and (min-width: 768px) {
    .offers .box.opacity {
      margin-top: 28px; } }
  .offers .box.opacity p {
    margin-top: 44px; }
    @media screen and (min-width: 768px) {
      .offers .box.opacity p {
        margin-top: 15px;
        padding: 0 25px; } }
    @media screen and (min-width: 1200px) {
      .offers .box.opacity p {
        padding: 0 55px; } }

.opacity > .row {
  background: #9B88E3; }
  .opacity > .row .status, .opacity > .row .offers .box.opacity .status, .offers .box.opacity .opacity > .row .status {
    background: #7A64CC; }
  .opacity > .row .legend {
    opacity: 0.2;
    height: auto; }

.alert {
  background: #E7E2FE;
  border-radius: 0px;
  border: none;
  margin-bottom: 0; }
  .alert p {
    font-family: font91361;
    font-size: 16px;
    color: #521DA9;
    letter-spacing: 0.44px;
    line-height: 24px;
    margin: 0; }
  .alert .close {
    fill: #AF93F1; }

@media screen and (min-width: 768px) {
  .row {
    min-height: 203px; } }

/*# sourceMappingURL=main.css.map */
